<!-- Any .razor file is a component. This file is -->
<!-- this line signals that this component it's a page and it describes it's URL path -->
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<!-- SurveyPrompt is a component -->
<SurveyPrompt Title="How is Blazor working for you?" />

<!-- Counter is too -->
<Counter IncrementBy="5" />
